---
Checks:          'portability-*,performance-*,readability-*,cppcoreguidelines-*,modernize-*,clang-analyzer-*,-modernize-use-trailing-return-type,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-type-vararg'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
